{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content col-sm-6"
         style="padding: 10px; border-radius: 15px; border: 4px solid darkgreen; background-color: green; color: white">
        {% for msg in app.session.flashBag.get('message') %}
            <div class="alert alert-secondary ">
                {{ msg }}
            </div>
        {% endfor %}
        {% if tournament != null %}
            <h3>{{ tournament.name }}</h3>
            <h6>Are you sure you want to finish this running tournament?</h6>
            <hr>
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form(form) }}
        {% else %}
            <div class="alert alert-secondary ">
                <h5>No running tournaments!</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}

