{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content col-sm-6" style="padding: 10px; border-radius: 15px; border: 4px solid darkgreen; background-color: green; color: white">

        {% for msg in app.session.flashBag.get('message') %}
            <div class="alert alert-secondary ">
                {{ msg }}
            </div>
        {% endfor %}

       <form method="post" name="add_player">
            <div class="form-group">
                <input class="form-control" type="text"   required="required" placeholder="Player name" name="add_player[name]" />
            </div>
            <div class="form-group">
                <input class="form-control" type="number" step="0.01" placeholder="Player value" name="add_player[value]">
            </div>
           {{ form_row(form._token) }}
            <input class="btn btn-outline-light" type="submit" value="Add player">
        </form>
    </div>
{% endblock %}