{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content"
         style="padding: 10px; border-radius: 15px; border: 4px solid darkgreen; background-color: green; color: white">
        <div class="row" style="padding: 10px; margin: 10px">
            <div style="margin: 10px">
                <a href="{{ path('statistic', {'type':'snooker', 'order':'seasonCenturies'}) }}"
                   class="btn btn-outline-light">Snooker Statistic</a>
            </div>
            <div style="margin: 10px">
                <a href="{{ path('statistic', {'type':'darts', 'order':'seasonMaximums'}) }}"
                   class="btn btn-outline-light">Darts Statistic</a>
            </div>
        </div>
        {% block stats %}
        {% endblock %}
    </div>
{% endblock %}

