{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content col-sm-6">
        <form name="authenticate" action="{{ path('security_login') }}" method="post">

            <div class="form-group">
                <input class="form-control" type="text" placeholder="Email" name="_username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" name="_password">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <input class="btn btn-outline-primary" type="submit" value="Login">
        </form>
    </div>

{% endblock %}